@model Wedding.ViewModels.OrderMan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>编辑</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           
            <div class="col-md-10">
                <label>时间</label>
                @Html.EditorFor(model => model.OrderDate, new { disabled = "", htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <label>数量</label>
                @Html.EditorFor(model => model.Count, new { disabled = "", htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <label>名称</label>
                @Html.EditorFor(model => model.Name, new { disabled = "", htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <label>用户名</label>
                @Html.EditorFor(model => model.UserName, new { disabled = "", htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })

            </div>
        </div>

        <div class="form-group">
         
            <div class="col-md-10">
                <label>总价</label>
                @Html.EditorFor(model => model.Total, new { disabled = "", htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })

            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <label>订单编号</label>
                @Html.EditorFor(model => model.OrderId, new { disabled = "", htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
          
            <div class="col-md-10">
                <label>图片</label>
                <img style="margin-left:40%;width:80px;height:80px" src="@Model.Tupian" />
                @Html.EditorFor(model => model.Tupian, new { disabled = "", htmlAttributes = new { @class = "form-control" ,@readonly = "readonly"} })
            </div>
        </div>

        <div class="form-group">
          
            <div class="col-md-10">
                <label>类别</label>
                @Html.EditorFor(model => model.LeiBie, new { htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <label>邮箱</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <label>地址</label>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
