@model Wedding.ViewModels.OrderTotal

@{
    Layout = null;
}

<link href="~/Content/style.css" rel="stylesheet" />
<div class="header_bottom">
    <div class="menu">
        <ul style="margin-left:37%">
            <li>@Html.ActionLink("主页", "Index", "Home")</li>
            <li>@Html.ActionLink("最新商品", "NewProd", "Home")</li>
            <li  class="active">@Html.ActionLink("查看订单", "Index", "Order", new { userName = Session["UserName"] }, new { })</li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<table border="1" style="text-align:left;width:100%;margin-top:20px;">

    
    <tr style="width:1228px;">
        <th style="width:30%;text-align:center">
            图片
            </th>
        <th style="width:30%;text-align:center;">
            时间
        </th>

        <th style="width:15%;">
            产品名
        </th>
        <th style="width:10%;text-align:center;">
            总价
        </th>
        <th style="width:15%;">
            数量
        </th>
    </tr>

    @foreach (var item in Model.OrderViewModels)
    {
        <tr id="row-" style="border:1px solid #000; width:1228px;height:129px;background-color:#fff;">
            <td style="width:20%">
                <img style="margin-left:40%;width:80px;height:80px" src="@item.Tupian" />
            </td>
            <td style="width:550px; height:129px;text-align:center">

                <h5>
                    @item.OrderDate
                </h5>
            </td>

            <td width="100px">
                <span id="dj-">@item.Name</span>
            </td>
            <td id="item-count-" width="150px" style="text-align:center;">
                <input id="shu-" style="background-color:#CCC; width:41px; height:25px; text-align:center;" type="text" value="@item.Total" readonly />
            </td>
            <td style="">
                @item.Count &nbsp;&nbsp;(单位：件)
            </td>

        </tr>
        <tr style="height:10px;">
            <td></td>
        </tr>
    }
    @*<tr style="border:1px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>*@
</table>
<div id="dtop">

    <a href="javascript:;">

        <img width="49px" height="45px" src="~/fonts/713efe21fbebae1158ced124199ded18.png" title="返回顶部" />

    </a>
</div>
<div class="tota">
    <span style="margin-right:60px">合计（不含运费）：</span>  ￥<span id="cart-total">@Model.Total</span>
    <div style="background-color:#f8f8a7;width:70px;height:50px;float:right;margin-top:15px;margin-right:20px"><span style="color:#ff6a00;font-size:1.5em;line-height:50px">@Html.ActionLink("结算", "", "")</span></div>
</div>
        </div>
<link href="~/Content/style.css" rel="stylesheet" />
