@model IEnumerable<Wedding.Models.Prouduct>
@using PagedList.Mvc;
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="grid_1_of_4 images_1_of_4">
        <a href="@Url.Action("XiangQing", "Home", new{id=item.ProuductId })">
            <p style=" height:20px">
            <p>
                <img src="@item.TuPian" style="width:200.68px;height:260.68px">

                <h2>@Truncate(item.Title, 10)<b>@item.Price</b>元！ </h2>
        </a>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">￥@item.Price</span></p>
            </div>
            <div class="add-cart">
                <h4> @Html.ActionLink("查看详情", "XiangQing", "Home", new { id = item.ProuductId }, "")</h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
}