
@model IEnumerable<Wedding.Models.Prouduct>
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    Layout = null;
}
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script>
       $(document).ready(function () {
        $("#sub").click(function () {
             htmlobj = $.ajax({ url: "@Url.Action("Servicer1","Home")"+"?input1=" + $("#dialogue_input").val(), async: false });

            $("#dialogue_contain").append('<p class="dialogue-customer-contain"><span class="dialogue-text dialogue-customer-text">' + $("#dialogue_input").val() + '</span></p>');
            $("#dialogue_contain").append('<p class="dialogue-service-contain"><span class="dialogue-text dialogue-service-text">' + htmlobj.responseText + '</span></p>');
            document.getElementById('dialogue_input').value = '';
        });
    });
    </script>
    <script type="text/javascript" src="~/Scripts/unslider.min.js"></script>
</head>
<body>
    <div id="searcht">
        <div class="search-m">
            <div class="search_logo">
                <a href="#">
                    <img height="55px" src="~/fonts/LOGE.png">
                </a>
            </div>
            <div class="form">
                @using (Html.BeginForm("Serch", "Home", FormMethod.Post, new { }))
                {
                    @Html.TextBox("s", null, new { @class = "text1", placeholder = "玫瑰 康乃馨 郁金香" })

                    <button id="btn" type="submit" class="SearchButton"><i class="iconfont" style="color:#CCC"><img src="~/fonts/search.png"></i></button>
                }
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="header">
            <div class="clear"></div>
            <div class="header_bottom">
                <div class="menu">
                    <ul style="margin-left:43%">
                        <li class="active">@Html.ActionLink("主页", "Index", "Home")</li>
                        <li>@Html.ActionLink("最新商品", "NewProd", "Home")</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_slide">
                <div class="header_bottom_left">
                    <div class="categories">
                        <ul>
                            @{Html.RenderAction("LeiBie", "Home");}
                        </ul>
                    </div>
                </div>

                <div class="header_bottom_right">
                    <div class="slider">
                        <div id="slider">
                            <div id="mover">
                                @{Html.RenderAction("LUNbo", "Home");}

                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="maxright">
                    <div class="account_desc">

                        @if (Session["UserName"] != null)
                        {
                            string Username = Convert.ToString(Session["UserName"]);

                            <a href="@Url.Action("UserDetail","Acount",new {id = Username  })">@Username</a>


                            @Html.ActionLink("注销", "UserZhuXiao", "Acount", new { }, new { })

                        }
                        else
                        {

                            <p>
                                <a href="@Url.Action("Login", "Acount")">
                                    Hi~欢迎来到本网站！
                                </a>
                            </p>
                            <a href="@Url.Action("Login", "Acount")">

                                &nbsp;&nbsp;&nbsp; <img width="80px" height="80px" src="~/Content/头像.jpg" />
                            </a>
                            <p>
                                &nbsp; &nbsp;&nbsp;&nbsp;  @Html.ActionLink("登录", "Login", "Acount", new { }, new { }) |@Html.ActionLink("注册", "Reg", "Acount", new { }, new { })
                            </p>
                        }

                    </div>
                    <div class="clear"></div>

                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="SeechTop">
    </div>
    <div class="main">

        @{Html.RenderAction("TypeToProuduct", "Home");}
 
    </div>
    <div class="clear"></div>
    <div class="footer">

        <div class="clear"></div>
        <div class="copy_right">
            <p>Flowers Sales 2019</p>
        </div>
    </div>
    <div id="dtop">
        <a href="javascript:;">
            <img width="49px" height="45px" src="~/fonts/713efe21fbebae1158ced124199ded18.png" title="返回顶部" />
        </a>
    </div>

    </div>
</body>

<link href="~/Content/style.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/MyJS.js"></script>