@model Wedding.Models.Prouduct

@{
    Layout = null;
}

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }

}
<!DOCTYPE html>


<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script type="text/javascript" src="~/Scripts/jquery-1.7.2.min.js"></script>


<style>
    .form-control {
        width: 300px;
        outline: 0 none;
        border: 1px solid #C5C5C5;
        height: 35px;
        line-height: 35px;
        vertical-align: middle;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset;
        padding: 0 10px;
    }
</style>
<script type="text/javascript" src="~/Scripts/MyJS.js"></script>
<script>
    $(document).ready(function () {
        $("#sub").click(function () {
             htmlobj = $.ajax({ url: "@Url.Action("Servicer1","Home")"+"?input1=" + $("#dialogue_input").val(), async: false });
            
            $("#dialogue_contain").append('<p class="dialogue-customer-contain"><span class="dialogue-text dialogue-customer-text">' + $("#dialogue_input").val() + '</span></p>');
            $("#dialogue_contain").append('<p class="dialogue-service-contain"><span class="dialogue-text dialogue-service-text">' + htmlobj.responseText + '</span></p>');
            document.getElementById('dialogue_input').value = '';
        });
    });
    $(function () {
        $(".Tj").click(function () {
            var str3 = document.getElementById("textarea").value;
            document.getElementById("dizhi").value = str3;
            alert("地址提交成功！")
        });
        //$(".THElst").click(function () {
        //    alert('添加订单成功！'); window.open("localhost:52867/ShangPing19man/LISTHE", "_self");
        //});
    });
</script>
<title>订单</title>
<div class="wrap">
    <div class="header">

        <div class="header_top">
            <div class="account_desc">
                <ul>
                
                    @if (Session["UserName"] != null)
                    {
                        string Username = Convert.ToString(Session["UserName"]);
                        <li>
                            <a href="@Url.Action("UserDetail","Acount",new {id = Username  })">@Username</a>

                        </li>
                        <li> @Html.ActionLink("注销", "UserZhuXiao", "Acount", new { }, new { })</li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("欢迎登录", "Login", "Acount", new { }, new { })</li>
                        <li>@Html.ActionLink("注册", "Reg", "Acount", new { }, new { })</li>
                    }





                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="header_bottom">
            <div class="menu">
                <ul style="margin-left:37%">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("最新商品", "NewProd", "Home")</li>
                    <li>@Html.ActionLink("查看订单", "Index", "Order", new { userName = Session["UserName"] }, new { })</li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
    <div style="width:100px"></div>
    @using (Html.BeginForm("CreateOrder", "Home", FormMethod.Post))
    {


        <div class="all">
            <div class="adress">
                <p>填写收货地址</p>
                <div class="adress-img">
                    <form id="form1" name="form1" method="post" action="">
                        <label for="textarea"></label>
                        <textarea name="textarea" id="textarea" cols="55" rows="7"class="adress-write"></textarea>
                        <div id="Tjdizhi" style="background-color:#808080;width:60px;height:35px;text-align:center;cursor:pointer;">
                            <a href="#" class="Tj">
                                <input type="button" value="确认地址" />
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="affirm">
                <p>确认订单信息</p>
                <div class="affirm-form">
                    <table class="form">
                        <tr class="form-top" style="text-align:left">
                            <td style="text-align:center"><span>图片</span><span style="margin-left:50px">介绍</span></td>

                            <td>单价</td>
                            <td style="text-align:center">数量</td>
                        </tr>

                        <tr id="row" style="border:1px solid #000; width:1228px;height:129px;background-color:#fff;text-align:left">
                            <td style="width:550px; height:129px">

                                <h5>
                                    <img style="margin-left:100px" width="80px" height="80px" src="@Model.TuPian" />
                                    @Truncate(Model.Title, 15)
                                </h5>
                            </td>

                            <td width="100px">
                                ￥<span id="dj">@Model.Price</span>
                            </td>
                            <td id="item-count" width="150px" style="text-align:center;">
                                <input id="shu" style="background-color:#CCC; width:41px; height:25px; text-align:center;" type="text" value="@ViewBag.Count" readonly />
                            </td>

                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>

                    </table>
                </div>

            </div>
            <div class="submit">
                <div class="submit-form">
                    <div  style="float:left;margin-left:10px">请认真核实一下信息:</div>
                    <div class="write">实付款：@ViewBag.Total</div>
                    <input type="hidden" value="@ViewBag.Total" name="total" />
                    <input type="hidden" value="@ViewBag.Count" name="count" />
                    <input type="hidden" value="@Model.ProuductId" name="id" />
                    <input type="hidden" value="@Model.LeiBieId" name="LeiBieid" />
                    <div class="write"> 寄送至： <input id="dizhi" name="dizhi" style="background-color:#CCC; width:41px; height:25px; text-align:center;" type="text" value="" readonly /></div>
                    <div class="write2">收货人：@Session["UserName"]</div>
                </div>
                <div class="clear"></div>
                <div style=" margin-right:10px">
                <a href="#" class="THElst">
                    <input type="submit" value="提交订单" class="submit-button">
                </a>
                    </div>
            </div>
        </div>

    }
</div>
<div class="footer">
    <div class="clear"></div>
    <div class="copy_right">
        <p> Flowers Sales 2019</p>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/datetime.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/BTN.css" rel="stylesheet" />
<link href="~/Content/order-2.css" rel="stylesheet" />

