@model Wedding.Models.Prouduct
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    Layout = null;
}



<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script type="text/javascript" src="~/Scripts/jquery-1.11.1.min.js"></script>
<script>


    $(function () {
        $("#total").html("@Model.Price");
        $(".add").click(function () {
            var t = $(this).parent().find('input[class*=text_box]');
            t.val(parseInt(t.val()) + 1)
         
            setTotal();
        })
        $(".min").click(function () {
            var t = $(this).parent().find('input[class*=text_box]');
            t.val(parseInt(t.val()) - 1)
           
            if (parseInt(t.val()) < 0) {
                t.val(0);
               
            }
            
            setTotal();
        })

        function setTotal() {
            var s = 0;
            s += parseInt($(".text_box").val()) * parseFloat($(".price").text());
            $("#total").html(s.toFixed(2));
           
        }

       

    })
    function test() {
        var count = $(".text_box").val();
        var total = $("#total").text();
        var str = "@Url.Action("LiJiGouMai", "Home")" + "?ProuductId=" + "@Model.ProuductId" + "&Count=" + count + "&Price=" + total;
       
     window.location.href = str;
            @*alert("a");
            $.ajax({ url: "@Url.Action("LiJiGouMai", "Home")" + "?ProuductId=" + "@Model.ProuductId" + "&Count=" + $(this).parent().find('input[class*=text_box]').val() + "&Price=" + $(this).parent().find('label[name*=total]').val(), async: false });*@

    }
</script>
<div class="wrap">
    <div class="header">

        <div class="header_top">
            <div class="account_desc">
                <ul>
                  
                    @if (Session["UserName"] != null)
                    {
                        string Username = Convert.ToString(Session["UserName"]);
                        <li>
                            <a href="@Url.Action("UserDetail","Acount",new {id = Username  })">@Username</a>

                        </li>
                        <li> @Html.ActionLink("注销", "UserZhuXiao", "Acount", new { }, new { })</li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("欢迎登录", "Login", "Acount", new { }, new { })</li>
                        <li>@Html.ActionLink("注册", "Reg", "Acount", new { }, new { })</li>
                    }





                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <uc1:Menu runat="server" ID="Menu" />
        <div class="header_bottom">
            <div class="menu">
                <ul style="margin-left:43%">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("最新商品", "NewProd", "Home")</li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
    <div style="height:60px"></div>
    <div class="tb-item-info tb-clear">
        <div class="tb-item-info-l" style="width:40%;height:548.2px;float:left;padding-left:150px">
            <div class="tb-gallery">
                <div class="tb-booth tb-pic tb-main-pic">
                    <img id="J_ImgBooth" src="@Model.TuPian" data-hasZoom="700" data-size="400x400" />
                    </a>
                </div>
            </div>

            <div id="J_Social" data-spm="20140010" class="tb-social tb-clearfix">
            </div>
        </div>
        <div style="width:20%;float:left"></div>
        <div class="tb-item-info-r" data-spm="iteminfo" style="width:40%;height:548px;float:left">
            <div class="tb-property tb-property-x">
                <div class="tb-wrap tb-wrap-newshop" style="padding-left: 100px;">

                    <div id="J_Title" class="tb-title" shortcut-key="t" shortcut-effect="focus">
                        <h3 class="tb-main-title">
                            @Truncate(Model.LeiBie.Description, 30)
                        </h3>
                        <p class="tb-subtitle"></p>
                        <div id="J_TEditItem" class="tb-editor-menu"></div>
                    </div>
                    <div id="J_Banner" class="tb-banner" style="height:30px"></div>

                    <ul class="tb-meta">
                        <li id="J_StrPriceModBox" class="tb-detail-price tb-clear" shortcut-key="p" shortcut-label="查看价格" shortcut-effect="focus">
                            <span class="tb-property-type">价格</span>
                            <div class="tb-property-cont">
                                <strong id="J_StrPrice"><em class="tb-rmb">&yen;</em><em class="tb-rmb-num"><span class="price">@Model.Price</span></em></strong>

                            </div>
                        </li>

                        <li id="J_Duty"></li>
                        <li id="J_ActivityPrice"></li>
                        <li id="J_Counter" class="tb-counter">

                            <div class="tb-counter-bd">
                                <div class="tb-rate-counter">

                                    <span>@Model.Title</span>

                                </div>
                            </div>
                        </li>
                    </ul>
                    
                        <div style="height:50px"></div>

                        <div id="" style="height:30px">
                            数量 ：<input class="min" name="" type="button" value="-" style="border:1px" />
                            <input class="text_box" name="count" type="text" value="1" style="width:4%" />
                            <input class="add" name="" type="button" value="+" />
                        </div>
                        <div id="" style="height:30px">
                            <p>总价：<label id="total" name="total"></label></p>
                        </div>
                        <div class="tb-btn-add" style="float:left;width:120px;height:40px;padding-bottom:10px;padding-right:10px">
                          
                            <a class="regBtn" value="" onclick="test();">
                                立即购买
                            </a>
                              

</div>

                  
                </div>

            </div>

        </div>
    </div>
</div>
</div>



<div class="clear"></div>
<div class="footer" style="border-top:1px solid #CECECE">

    <div class="clear"></div>
    <div class="copy_right">
        <p> Flowers Sales 2019</p>
    </div>
</div>
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/BTN.css" rel="stylesheet" />


